@model TechedMVC.Models.ViewModel.CoinViewModel

@{
    if (Model != null)
    {
        ViewData["Title"] = "Detalji - " + Model.Name;
    }
    else
    {
        ViewData["Title"] = "Detalji";
    }
}

<h2 class="text-center py-2">Detalji - @Model.Name</h2>

<div class="container">
    <hr class="mb-5" />
    <div class="row">
        <div class="col-lg-6 col-md-10 mx-auto">
            <div class="card">
                <div class="text-center">
                    <img src="@Url.Content(Model.ImageURL)" class="img-fluid rounded-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Name</h5>
                    </div>
                    <div class="container">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Oznaka - <b>@Model.Symbol</b>
                            </li>
                            <li class="list-group-item">Trenutačna cijena - $ @Model.CurrentPrice</li>
                            <li class="list-group-item">Promjena cijene u 24h- @Model.PriceChangePercentage24h%</li>
                            <li class="list-group-item">Tržišni rang - @Model.MarketCapRank</li>
                            <li class="list-group-item">Circulating Supply - @Model.CirculatingSupply </li>
                            <li class="list-group-item">Total Supply - @Model.TotalSupply </li>
                            <li class="list-group-item">Max Supply - @Model.MaxSupply</li>
                            <li class="list-group-item">Zadnje ažurirano - @Model.LastUpdated</li>
                            <li class="list-group-item">Spremljeno - @Model.ChangedAt</li>
                        </ul>
                    </div>
                </div>
                <div class="card-body text-center">
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Uredi</a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-outline-primary mt-3" asp-action="Index">Lista vrijednosti iz baze</a>
    </div>
</div>