@page "/Details/{coin_id}"
@model DetailsModel

@{
    if (Model != null)
    {
        ViewData["Title"] = "Detalji - " + Model.CoinModel.Name;
    }
    else
    {
        ViewData["Title"] = "Detalji";
    }
}

<h2 class="text-center py-2">Detalji - @Model.CoinModel.Name</h2>

<div class="container">
    <hr class="mb-5" />
    <div class="row">
        <div class="col-lg-6 col-md-10 mx-auto">
            <div class="card">
                <div class="text-center">
                    <img src="@Url.Content(Model.CoinModel.ImageURL)" class="card-img-top img-fluid w-25" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@Model.CoinModel.Name</h5>
                    </div>
                    <div class="container">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Oznaka - <b>@Model.CoinModel.Symbol</b>
                            </li>
                            <li class="list-group-item">Trenutačna cijena - $ @Model.CoinModel.CurrentPrice</li>
                            <li class="list-group-item">Promjena cijene u 24h- @Model.CoinModel.PriceChangePercentage24h%</li>
                            <li class="list-group-item">Tržišni rang - @Model.CoinModel.MarketCapRank</li>
                            <li class="list-group-item">Circulating Supply - @Model.CoinModel.CirculatingSupply </li>
                            <li class="list-group-item">Total Supply - @Model.CoinModel.TotalSupply </li>
                            <li class="list-group-item">Max Supply - @Model.CoinModel.MaxSupply</li>
                            <li class="list-group-item">Zadnje ažurirano - @Model.CoinModel.LastUpdated </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body text-center">
                    <form method="post" asp-route-CoinId="@Model.CoinModel.Id">
                        <input type="submit" value="Spremi u bazu" class="btn btn-primary mt-5 mb-2" />
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="text-center">
        <a asp-page="./Index" class="btn btn-outline-primary mt-3">Početna</a>
    </div>
</div>
