@page "/Details/{coin_id}"
@model DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CoinViewModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoinModel.Symbol)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoinModel.Symbol)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoinModel.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoinModel.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoinModel.ImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoinModel.ImageURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoinModel.CurrentPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoinModel.CurrentPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoinModel.MarketCapRank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoinModel.MarketCapRank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoinModel.PriceChangePercentage24h)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoinModel.PriceChangePercentage24h)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoinModel.CirculatingSupply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoinModel.CirculatingSupply)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoinModel.TotalSupply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoinModel.TotalSupply)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoinModel.MaxSupply)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoinModel.MaxSupply)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoinModel.LastUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoinModel.LastUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoinModel.ChangedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoinModel.ChangedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
