@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">

    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Market Cap Rank
                </th>
                <th>
                    Naziv
                </th>
                <th>
                    Trenutačna cijena
                </th>
                <th>
                    Last Updated
                </th>
                <th>
                    botuni
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coin in Model.CoinViewModels)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(coinItem => coin.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(coinItem => coin.MarketCapRank)
                    </td>
                    <td>
                        @Html.DisplayFor(coinItem => coin.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(coinItem => coin.CurrentPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(coinItem => coin.LastUpdated)
                    </td>
                    <td>
                        <a asp-page="./Details" asp-route-Coin_id="@coin.Id">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>


