@using TechedMVC.Models.ViewModel;
@model CoinViewModel

@{
    if (Model != null)
    {
        ViewData["Title"] = "Detalji - " + Model.Name;
    }
    else
    {
        ViewData["Title"] = "Detalji";
    }

}

<h2 class="text-center py-2">Detalji - @Model.Name</h2>

<div class="container">
    <hr class="mb-5" />
    <div class="row">
        <div class="col-lg-6 col-md-10 mx-auto">
            <div class="card">
                <div class="text-center">
                    <img src="@Url.Content(Model.ImageURL)" class="card-img-top img-fluid w-25" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@Model.Name</h5>
                    </div>
                    <div class="container">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Oznaka - <b>@Model.Symbol</b>
                            </li>
                            <li class="list-group-item">Trenutačna cijena - $ @Model.CurrentPrice</li>
                            <li class="list-group-item">Promjena cijene u 24h- @Model.PriceChangePercentage24h%</li>
                            <li class="list-group-item">Tržišni rang - @Model.MarketCapRank</li>
                            <li class="list-group-item">Circulating Supply - @Model.CirculatingSupply </li>
                            <li class="list-group-item">Total Supply - @Model.TotalSupply </li>
                            <li class="list-group-item">Max Supply - @Model.MaxSupply</li>
                            <li class="list-group-item">Zadnje ažurirano - @Model.LastUpdated </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body text-center">
                    <form asp-controller="Coin" asp-action="AddToDb" asp-route-CoinId="@Model.Id">
                        <input class="btn btn-primary mt-5 mb-2" type="submit" value="Spremi u bazu" />
                    </form>
                </div>
            </div>

        </div>
    </div>
    <div class="text-center">
        <a class="btn btn-outline-primary mt-3" asp-action="Index">Početna</a>
    </div>
</div>

