@page "/Coin/Details/{id}"
@model TechedRazor.Pages.Coin.DetailsModel

@{
    ViewData["Title"] = "Details - " + Model.CoinViewModel.Name;
}

<h2 class="text-center py-2">Details - @Model.CoinViewModel.Name</h2>

<div class="container">
    <hr class="mb-5" />
    <div class="row">
        <div class="col-lg-6 col-md-10 mx-auto">
            <div class="card">
                <div class="text-center">
                    <img src="@Url.Content(Model.CoinViewModel.ImageURL)" class="img-fluid rounded-3" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@Model.CoinViewModel.Name</h5>
                    </div>
                    <div class="container">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                Oznaka - <b>@Model.CoinViewModel.Symbol</b>
                            </li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.CoinViewModel.Name)  - $ @Model.CoinViewModel.CurrentPrice</li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.CoinViewModel.PriceChangePercentage24h) - @Model.CoinViewModel.PriceChangePercentage24h%</li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.CoinViewModel.MarketCapRank)- @Model.CoinViewModel.MarketCapRank</li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.CoinViewModel.CirculatingSupply) - @Model.CoinViewModel.CirculatingSupply </li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.CoinViewModel.TotalSupply)- @Model.CoinViewModel.TotalSupply </li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.CoinViewModel.MaxSupply) - @Model.CoinViewModel.MaxSupply</li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.CoinViewModel.LastUpdated) - @Model.CoinViewModel.LastUpdated</li>
                            <li class="list-group-item">@Html.DisplayNameFor(model => model.CoinViewModel.ChangedAt) - @Model.CoinViewModel.ChangedAt</li>
                        </ul>
                    </div>
                </div>
                <div class="card-body text-center">
                    <a asp-page="./Edit" asp-route-id="@Model.CoinViewModel.Id" class="btn btn-primary">Edit</a>
                </div>
            </div>
        </div>
    </div>


    <div class="text-center">
        <a class="btn btn-outline-primary mt-3" asp-page="./Index">Back to List</a>
    </div>

</div>
