@page "/Coin/Details/{id}"
@model TechedRazor.Pages.Coin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CoinEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoinViewModel.Symbol)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoinViewModel.Symbol)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoinViewModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoinViewModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoinViewModel.ImageURL)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoinViewModel.ImageURL)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoinViewModel.CurrentPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoinViewModel.CurrentPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoinViewModel.MarketCapRank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoinViewModel.MarketCapRank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoinViewModel.PriceChangePercentage24h)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoinViewModel.PriceChangePercentage24h)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoinViewModel.CirculatingSupply)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoinViewModel.CirculatingSupply)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoinViewModel.TotalSupply)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoinViewModel.TotalSupply)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoinViewModel.MaxSupply)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoinViewModel.MaxSupply)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoinViewModel.LastUpdated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoinViewModel.LastUpdated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CoinViewModel.ChangedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CoinViewModel.ChangedAt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
