@page
@model TechedRazor.Pages.Coin.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2 class="text-center py-2">Edit - @Model.CoinDTO.Name</h2>

<div class="container">
    <hr />
    <div class="row">
        <div class="col-lg-6 col-md-10 mx-auto">
            <div class="card">
                <div class="text-center">
                    <img id="image-preview" class="img-fluid rounded-3" src="@Model.CoinDTO.ImageURL" alt="Image Preview" />
                </div>
                <div class="container">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="@Model.CoinDTO.Id" />
                        <div class="form-group">
                            <label asp-for="@Model.CoinDTO.Symbol" class="control-label my-2"></label>
                            <input asp-for="@Model.CoinDTO.Symbol" class="form-control mb-1" />
                            <span asp-validation-for="@Model.CoinDTO.Symbol" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.CoinDTO.Name" class="control-label my-2"></label>
                            <input asp-for="@Model.CoinDTO.Name" class="form-control mb-1" />
                            <span asp-validation-for="@Model.CoinDTO.Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.CoinDTO.ImageURL" class="control-label my-2"></label>
                            <input asp-for="@Model.CoinDTO.ImageURL" class="form-control mb-1" />
                            <span asp-validation-for="@Model.CoinDTO.ImageURL" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.CoinDTO.CurrentPrice" class="control-label my-2"></label>
                            <div class="input-group mb-1">
                                <span class="input-group-text">$</span>
                                <input asp-for="@Model.CoinDTO.CurrentPrice" class="form-control" />
                                <span asp-validation-for="@Model.CoinDTO.CurrentPrice" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.CoinDTO.MarketCapRank" class="control-label my-2"></label>
                            <input asp-for="@Model.CoinDTO.MarketCapRank" class="form-control mb-1" />
                            <span asp-validation-for="@Model.CoinDTO.MarketCapRank" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.CoinDTO.PriceChangePercentage24h" class="control-label my-2"></label>
                            <div class="input-group mb-1">
                                <input asp-for="@Model.CoinDTO.PriceChangePercentage24h" class="form-control" />
                                <span class="input-group-text">%</span>
                                <span asp-validation-for="@Model.CoinDTO.PriceChangePercentage24h" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.CoinDTO.CirculatingSupply" class="control-label my-2"></label>
                            <input asp-for="@Model.CoinDTO.CirculatingSupply" class="form-control mb-1" />
                            <span asp-validation-for="@Model.CoinDTO.CirculatingSupply" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.CoinDTO.TotalSupply" class="control-label my-2"></label>
                            <input asp-for="@Model.CoinDTO.TotalSupply" class="form-control mb-1" />
                            <span asp-validation-for="@Model.CoinDTO.TotalSupply" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.CoinDTO.MaxSupply" class="control-label my-2"></label>
                            <input asp-for="@Model.CoinDTO.MaxSupply" class="form-control mb-1" />
                            <span asp-validation-for="@Model.CoinDTO.MaxSupply" class="text-danger"></span>
                        </div>
                        <div class="form-group mt-4 mb-1 text-center">
                            <input type="submit" value="Spremi promjene" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center">
        <a class="btn btn-outline-primary mt-3" asp-page="./Index">Back to List</a>
    </div>

</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
