@page
@model TechedRazor.Pages.Coin.IndexModel

@{
    ViewData["Title"] = "Spremljene vrijednosti";
}

<h1 class="my-5">Lista spremljenih vrijednosti u bazi podataka</h1>
<div class="container">
    <form asp-page="./Index" method="get">
        <div class="form-actions no-color">
            <p>
                Traži po nazivu:
                <input type="text" name="search" value="@Model.SearchString" />
                <input type="submit" value="Traži" class="btn btn-primary" /> |
                <a asp-page="./Index" class="btn btn-light">Svi podaci</a>
            </p>
        </div>
    </form>
    <table id="dbTable" class="display table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                        @Html.DisplayNameFor(model => model.CoinViewModels[0].Name)
                    </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoinViewModels[0].CurrentPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoinViewModels[0].PriceChangePercentage24h)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoinViewModels[0].LastUpdated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoinViewModels[0].ChangedAt)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CoinViewModels)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrentPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PriceChangePercentage24h)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ChangedAt)
                    </td>
                    <td>
                        <div class="btn-group">
                            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">Edit</a>
                            <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-outline-primary">Details</a>
                            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
