@page
@model TechedRazor.Pages.Coin.IndexModel

@{
    ViewData["Title"] = "Spremljene vrijednosti";
}

<h1 class="my-5">Lista spremljenih vrijednosti u bazi podataka</h1>
<div class="container">
    <table id="dbTable" class="display table table-striped table-hover">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CoinViewModels[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoinViewModels[0].Name)
                    <!-- <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"></a> -->
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoinViewModels[0].CurrentPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoinViewModels[0].PriceChangePercentage24h)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoinViewModels[0].LastUpdated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CoinViewModels[0].ChangedAt)
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#dbTable").DataTable(
                {
                    "processing": true,
                    "serverSide": true,
                    "ajax": {
                        "url": "/api/v1/coin",
                        "type": "POST",
                        "contentType": "application/json",
                        "dataType": "json",
                        "data": function (data) {
                            return data = JSON.stringify(data);
                        }
                    },
                    "filter": true,
                    "order": [5, 'desc'],
                    "columns": [
                        { "data": "id", "name": "Id", "visible": false },
                        { "data": "name", "name": "Name", },
                        {
                            "data": "currentPrice",
                            "name": "CurrentPrice",
                            "render": function (data, type, row) {
                                return "$ " + data;
                            }
                        },
                        {
                            "data": "priceChangePercentage24h",
                            "name": "PriceChangePercentage24h",
                            "render": function (data, type, row) {
                                return data + "%";
                            }
                        },
                        {
                            "data": "lastUpdated",
                            "name": "LastUpdated",
                            "render": function (data, type, row) {
                                var date = new Date(data);
                                var formattedDate = date.toLocaleString('en-GB', {
                                    day: '2-digit',
                                    month: '2-digit',
                                    year: 'numeric',
                                    hour: '2-digit',
                                    minute: '2-digit',
                                    second: '2-digit'
                                });
                                return formattedDate;
                            }
                        },
                        {
                            "data": "changedAt",
                            "name": "ChangedAt",
                            "render": function (data, type, row) {
                                var date = new Date(data);
                                var formattedDate = date.toLocaleString('en-GB', {
                                    day: '2-digit',
                                    month: '2-digit',
                                    year: 'numeric',
                                    hour: '2-digit',
                                    minute: '2-digit',
                                    second: '2-digit'
                                });
                                return formattedDate;
                            }
                        },
                        {
                            "data": null,
                            "orderable": false,
                            "render": function (data, type, row) {
                                var buttons = '<div class="btn-group">' +
                                    '<a href="/Coin/Edit/' + row.id + '" class="btn btn-outline-primary">Edit</a>' +
                                    '<a href="/Coin/Details/' + row.id + '" class="btn btn-outline-primary">Details</a>' +
                                    '<a href="/Coin/Delete/' + row.id + '" class="btn btn-danger">Delete</a>' +
                                    '</div>';
                                return buttons;
                            }
                        }
                    ],
                    "language": {
                        url: '//cdn.datatables.net/plug-ins/1.13.4/i18n/hr.json',
                    }
                }
            )
        })
    </script>
}
